.button {
  min-width: 110px;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: $border-radius;

  &:enabled {
    background-color: $color-active;
    color: $color-white;
    cursor: pointer;
  }

  &:disabled {
    background-color: $color-disabled;
    color: $color-darkgray;
    cursor: default;
  }
}
