.page-wrapper {
  max-width: 1920px;
  height: 100%;
  padding: 1em;
  margin: 0 auto;
  @include backgroundImage('src/assets/images/bg-image.webp');

  &#login {
    @include flex(center, center);
  }
}
