.start__content {
  padding: 2em;
  background: $color-white-bg;
  border-radius: 1em;
  @include flex(flex-start, center);
  flex-direction: column;
  animation: bounceInTop 2s ease 0s 1 normal forwards;
}

.start__description {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: justify;
}
