@import '../../node_modules/modern-normalize/modern-normalize.css';

@import './fontello.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './variables.scss';
@import './animations/bounceInTop.scss';
@import './animations/scaleUpCenter.scss';

html {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100vh;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }

  @media screen and (max-width: 375px) {
    font-size: 10px;
  }
}

body {
  height: 100%;
}

@import './components/page-wrapper.scss';
@import './components/header.scss';
@import './components/button.scss';

@import './pages/login/login.scss';
@import './pages/login/login-inputs.scss';
@import './pages/login/form-errors.scss';
@import './pages/login/form-button.scss';

@import './pages/start/start-page.scss';
@import './pages/start/logout-button.scss';
