$color-white: #ffffff;
$color-darkgray: #5c5d60;
$color-lightgray: #b3b5bc;

$color-disabled: #ecebeb;
$color-enabled: #fbecd5;
$color-hover: #fdb669;
$color-active: #f4860d;
$color-invalid: #bf0301;
$color-valid: #009485;

$color-invalid-opacity: rgba(191, 3, 1, 0.06);

$border-radius: 6px;

$transition-duration: 250ms;
$transition-function: ease-in-out;
$transition: $transition-duration $transition-function;
