$color-white: #ffffff;
$color-darkgray: #5c5d60;
$color-lightgray: #b3b5bc;

$color-disabled: #e7e8e6;
$color-enabled: #c3c5c2;
$color-hover: #999f93;
$color-active: #4d5c3e;
$color-invalid: #897268;
$color-invalid-bg: rgba(191, 3, 1, 0.06);

$border-radius: 6px;

$transition-duration: 250ms;
$transition-function: ease-in-out;
$transition: $transition-duration $transition-function;
