.login-page-wrapper {
  background-image: url('src/assets/images/steve-johnson.webp');
}

.form {
  @include flex(center, center);
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem 2rem;
  background: $color-white;
  border-radius: 10px;
}
