.form__input-field {
  min-width: 16em;
  height: 3em;
  font-size: 1em;
  padding: 0 0.5rem;
  border: 2px solid;
  border-radius: $border-radius;
  color: $color-darkgray;
  transition: $transition;

  &.error-background {
    background-color: $color-invalid-opacity;
    transition: $transition;
  }

  &::placeholder {
    font-size: 1em;
    color: $color-lightgray;
  }

  &:enabled {
    border-color: $color-enabled;
  }

  &:focus {
    outline: 0;
  }

  &:active,
  &:focus {
    border-color: $color-hover;
  }

  @media screen and (hover: hover) {
    &:hover {
      border-color: $color-hover;
    }
  }
}
