.form {
  @include flex(center, center);
  flex-direction: column;
  gap: 0.5rem;
  padding: 4rem 3rem 3rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  animation: bounceInTop 2s ease 0s 1 normal forwards;
}
